loguru==0.7.2
setuptools==69.0.3
ccxt==4.1.100
tqdm==4.66.1
cryptography==41.0.7
web3==6.13.0
requests==2.31.0
pyTelegramBotAPI==4.14.1
python-okx==0.2.2
termcolor==2.4.0
bumpversion==0.6.0
binance-connector==3.5.1