loguru==0.7.2
setuptools==69.5.1
ccxt==4.2.100
tqdm==4.66.2
cryptography==42.0.5
web3==7.2.0
requests==2.31.0
pyTelegramBotAPI==4.17.0
python-okx==0.2.8
termcolor==2.4.0
bumpversion==0.6.0
binance-connector==3.6.0
base58==2.1.1
google-api-python-client==2.126.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
eth-tester==0.10.0b4
py-evm==0.10.1b2
fake-useragent==1.4.0
